@{
    ViewData["Title"] = "Home Page";
}

<h1>Mabahes Vizhe</h1>
<h2>
    Image Processing
</h2>

<br />

<h2>@ViewData["Message"]</h2>

<br />

<form action="/" method="post">
    <label>Enter Your FirstName</label>
    <input type="text" name="firstName" />
    <button>Submit</button>
</form>